Relatório/main.aux
Relatório/main.bbl
Relatório/main.fdb_latexmk
Relatório/main.fls
Relatório/main.lof
Relatório/main.log
Relatório/main.lot
Relatório/main.out
Relatório/main.synctex.gz
Relatório/main.toc
Relatório/main.blg
Relatório/main.aux
*.aux
*.fls
*.log
*.out
*.lot
*.toc
*.gz
Relatório/main.synctex(busy)
